

/* Regole generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

body {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: inherit;

}

ul {
    list-style-type: none;
}

h2 {
    margin-bottom: 30px;
    font-size: 48px;
}

h4 {
    font-size: 29px;
}

p {
    line-height: 160%;
}

/* Buttons */

    button {
        border: none;
        font-size: inherit;
        border-radius: 30px;
    }

    .small-button {
        padding: 7px 15px;
    }

    .big-button {
        padding: 15px 30px;
        margin: 0px 10px;
    }

    .black-back {
        color: #ffffff;
        background-color: #23272a;
    }

    .blue-back {
        background-color: #7289da;
        color: #ffffff;
    }

.centered {
    padding: 20px 12% 0px;
}

.menu {
    font-size: 15px;
    font-weight: 500;
}

/* Intestazione */

header {
    min-height: 550px;
    color: #ffffff;
    background-color: #255ee9;

}

    /* barra di navigazione */

    header nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 78px;
    }

    header nav ul {
        display: flex;
        flex-basis: 550px;
        justify-content: space-between;
    }

    /* Jumbotron */

    .jumbotron {
        min-height: 500px;
        padding: 130px 24% 100px;
        justify-content: center;
        background-image: url("../img/jumbo.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;

    }

    .center-block {
        width: 800px;
        text-align: center;
    }

    .center-block p {
        margin-bottom: 20px;
    }

/* Corpo principale */

    /* Middle sections */

    main section.centered {
        padding-top: 110px;
        padding-bottom: 100px;
    }
    
    section:nth-of-type(even) {
        background-color: #f6f6f6;
    }

    /* ogni seconda riga della sezione in mezzo, nel caso se ne aggiungano in futuro */
    section.middle-section:nth-of-type(even) {
        flex-direction: row-reverse;
    }

        /* WAVE DIVIDER */

            /* usando come svg in html */

            .wave-1hkxOo {
                color: #f6f6f6;
                display: block;
            }

            .wave-1hkxOo.invert {
                transform: scaleY(-1);
            }


            /* usando il file .svg + filter */
            /* .wave {
                display: block;
                filter: invert(96%);
            }

            .wave.invert {
                transform: scaleY(-1);
            } */

            /* usando un path creato su https://wavier.art/ */
            
            /* .wave-container {  
                height: 90px;
                background-color: #ffffff;
                position: relative;
            }
            
            .wave-container::before {   
                content: "";
                width: 100%;
                height: 90px;
                position: absolute;
                bottom: -0.3%;
                left: 0;
                background-size: auto;
                background-repeat: repeat no-repeat;
                background-position: 9vw bottom;
                background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200 92' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 1C19.5523 2 32.2291 3 51.5 6C104.5 13 200 29 300 45C400 61 500 76 600 70C700 64 800 36 900 21C987.526 3 1085.36 -1 1150 0C1169.54 -1 1180.49 0 1200 1V92H1150C1100 92 1000 92 900 92C800 92 700 92 600 92C500 92 400 92 300 92C200 92 100 92 50 92H0V1.98128Z' fill='%23f6f6f6'/></svg>");
            }
            
            @media(max-width:850px) {
                .wave-container::before {    
                height: 45px
                }  
            }

            .wave-container.invert {
                transform: scaleY(-1);
            }  */

        /* END OF WAVE DEVIDER */

    section.middle-section {
        min-height: 580px;
        display: flex;
        justify-content: center;
    }

    section .col.text {
        width: 460px;
        padding: 30px;
    }

    /* Last section */

    section.end-section {
        min-height: 900px;
        text-align: center;
        padding-bottom: 140px;
    }

    .end-section .text {
        display: inline-block;
        width: 87%;
    }

    .end-section .img img {
        width: 100%;
    }

    .end-section .star-container{
        display: inline-block;
        text-align: center;
        margin-bottom: 20px;
    }

    .end-section .star-back {
        width: 580px;
        height: 90px;
        background-image: url("../img/stars.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-bottom: 40px;

    }

/* Footer */

footer {
    min-height: 600px;
    background-color: #23272a;
    color: #ffffff;
}

    /* parte di navigazione */

    footer nav {
        width: 100%;
        display: flex;
        border-bottom: solid 1px #7289da;
        margin-bottom: 15px;
    }

        /* parte larga titolo */

        footer nav .col.title {
            flex-basis: 25%;
            padding: 30px 0px;
        }

        .language-selector {
            display: flex;
            align-items: center;
        }

        .language-selector img {
            height: 18px;
        }

        .language-selector #language {
            margin:0px 5px;

        }

        #social-media {
            width: 50%;
            font-size: 18px;
            display: flex;
            justify-content: space-between;
        }
       
        footer h4 {
            color: #7289da;
            margin-bottom: 15px;
        }

    /* contenitore delle liste */
    
        footer nav .col-container{
        flex-basis: 70%;
        padding: 30px 0px;
        line-height: 30px;
        display: flex;
        justify-content: space-between;
    }

    footer ul li:first-child{
        color: #7289da;
    }

    /* Footer logo e pulsante */

footer .footer-logo {
    display: flex;
    justify-content:space-between;
    padding: 10px 0px;
}






/* DEBUG */

/* header {
    background-color: #255ee9;
}

section .img {
    background-color: #66d4cd;
}

section .text {
    background-color: rgb(247, 158, 126);
    border: solid 2px black;
}

.end-section .img {
    height: 550px;
    width: 900px;
}

footer nav {
    background-color: rgba(255, 255, 0, 0.726);
    border-bottom: solid 2px red;
}

    footer nav .col {
        border: solid 2px blue;
    }

footer .footer-logo {
    background-color: rgb(195, 150, 236);
}
 */
